@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Montserrat:wght@100;200;400&family=Oxygen:wght@300&display=swap");
.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

body {
  background-color: #282c34;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

/* NAVBAR COMPONENT */
